<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RabbitMQ</title>
  </head>
  <body>
    <h1>Send some message!<h1>
    <form action="/message" class="form-inline" method="POST">
      <input type="text" placeholder="Send some message" name="message">
      <button type="submit" class="btn">Send</button>
    </form>
  </body>
</html>
